In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
iris = pd.read_csv("iris(1).csv")

In [23]:
iris

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [24]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [25]:
iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [26]:
iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [28]:
iris['Species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [29]:
iris.Species.value_counts()

virginica     50
setosa        50
versicolor    50
Name: Species, dtype: int64

In [31]:
colnames = list(iris.columns)

In [32]:
predictors = colnames[:4]

In [33]:
target = colnames[4]

In [36]:
# np.random.uniform(start,stop,size) will generate array of real numbers with size = size

iris['is_train'] = np.random.uniform(0, 1, len(iris))<= 0.75
iris['is_train']
train,test = iris[iris['is_train'] == True],iris[iris['is_train']==False]

In [38]:
from sklearn.model_selection import train_test_split
train,test = train_test_split(iris,test_size = 0.2)

In [40]:
from sklearn.tree import  DecisionTreeClassifier

In [41]:
model = DecisionTreeClassifier(criterion = 'entropy')
model.fit(train[predictors],train[target])

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [42]:
preds = model.predict(test[predictors])
pd.Series(preds).value_counts()
pd.crosstab(test[target],preds)

col_0       setosa  versicolor  virginica
Species
setosa          15           0          0
versicolor       0          11          2
virginica        0           0          2

In [43]:
# Accuracy = train

np.mean(train.Species == model.predict(train[predictors]))

1.0

In [44]:
# Accuracy = Test

np.mean(preds==test.Species) # 1

0.9333333333333333