In [1]:
import pandas as pd
import numpy as np

In [3]:
company = pd.read_csv("Company_Data.csv")

In [4]:
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [5]:
company.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [7]:
company.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [54]:
colnames = list(company.columns)

In [57]:
predictors = colnames[:7]

In [58]:
target = colnames[7]

In [59]:
X = company[predictors]
Y = company[target]

In [60]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_jobs=3,oob_score=True,n_estimators=15,criterion="entropy")

In [61]:
np.shape(company)

(400, 8)

In [62]:
company.columns

Index(['Sales', 'CompPrice', 'Income', 'Advertising', 'Population', 'Price',
       'Age', 'Education'],
      dtype='object')

In [48]:
company.drop('ShelveLoc', axis = 1, inplace = True)

In [49]:
company.drop('Urban', axis = 1, inplace = True)

In [50]:
company.drop('US', axis = 1, inplace = True)

In [51]:
company.head()

   Sales  CompPrice  Income  Advertising  Population  Price  Age  Education
0   9.50        138      73           11         276    120   42         17
1  11.22        111      48           16         260     83   65         10
2  10.06        113      35           10         269     80   59         12
3   7.40        117     100            4         466     97   55         14
4   4.15        141      64            3         340    128   38         13

In [63]:
rf.fit(X,Y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:460: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:465: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=15, n_jobs=3,
                       oob_score=True, random_state=None, verbose=0,
                       warm_start=False)

In [64]:
rf.estimators_

[DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                        max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort=False,
                        random_state=1218473950, splitter='best'),
 DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                        max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort=False,
                        random_state=530847618, splitter='best'),
 DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                        max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort=False,
                        random_state=275037811, splitter='best'),
 DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                        max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort=False,
                        random_state=1593238796, splitter='best'),
 DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                        max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort=False,
                        random_state=1131047459, splitter='best'),
 DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                        max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort=False,
                        random_state=681991477, splitter='best'),
 DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                        max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort=False,
                        random_state=1146494171, splitter='best'),
 DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                        max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort=False,
                        random_state=293507760, splitter='best'),
 DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                        max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort=False,
                        random_state=1801134826, splitter='best'),
 DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                        max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort=False,
                        random_state=1766199817, splitter='best'),
 DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                        max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort=False,
                        random_state=1549348869, splitter='best'),
 DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                        max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort=False,
                        random_state=334510911, splitter='best'),
 DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                        max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort=False,
                        random_state=666674322, splitter='best'),
 DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                        max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort=False,
                        random_state=1869472671, splitter='best'),
 DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                        max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort=False,
                        random_state=1500348450, splitter='best')]

In [65]:
rf.classes_ # class labels (output)

array([10, 11, 12, 13, 14, 15, 16, 17, 18], dtype=int64)

In [66]:
rf.n_classes_ # Number of levels in class labels

9

In [67]:
rf.n_features_  # Number of input features in model 7 here.

7

In [68]:
rf.n_outputs_ # Number of outputs when fit performed

1

In [69]:
rf.oob_score_  # 0.1025

0.1025

In [70]:
rf.predict(X)

array([17, 10, 12, 14, 13, 16, 15, 10, 10, 17, 10, 13, 18, 18, 18, 18, 13,
       10, 17, 12, 18, 18, 13, 10, 12, 11, 11, 17, 11, 17, 12, 18, 10, 16,
       17, 17, 18, 10, 15, 10, 17, 16, 18, 13, 13, 12, 15, 16, 18, 17, 16,
       16, 18, 17, 17, 18, 17, 11, 16, 13, 13, 13, 17, 13, 16, 13, 18, 16,
       13, 12, 12, 17, 15, 11, 13, 16, 15, 18, 12, 13, 11, 13, 17, 11, 18,
       13, 15, 16, 10, 16, 11, 15, 12, 17, 11, 13, 16, 16, 16, 16, 12, 18,
       16, 17, 12, 11, 18, 12, 16, 17, 14, 14, 12, 12, 13, 13, 10, 12, 11,
       12, 13, 10, 10, 15, 14, 15, 16, 14, 13, 10, 12, 16, 10, 12, 16, 18,
       18, 11, 10, 13, 18, 15, 15, 17, 11, 17, 14, 16, 14, 11, 10, 17, 13,
       17, 16, 16, 16, 13, 10, 18, 12, 12, 13, 17, 13, 15, 11, 13, 10, 18,
       10, 15, 16, 18, 15, 12, 11, 17, 14, 18, 13, 11, 13, 18, 11, 10, 17,
       17, 15, 15, 13, 14, 14, 10, 11, 11, 16, 16, 10, 14, 12, 18, 10, 14,
       14, 12, 17, 10, 12, 11, 14, 15, 11, 10, 18, 11, 17, 14, 14, 17, 10,
       11, 13, 14, 13, 14, 14, 16, 11, 18, 14, 11, 15, 14, 16, 17, 10, 10,
       13, 16, 18, 12, 14, 10, 18, 10, 18, 16, 11, 11, 14, 13, 16, 12, 17,
       15, 10, 13, 14, 11, 10, 15, 18, 17, 15, 17, 17, 12, 11, 17, 10, 16,
       12, 12, 11, 11, 15, 16, 15, 18, 10, 16, 11, 16, 17, 10, 18, 17, 15,
       17, 11, 17, 15, 10, 11, 10, 18, 10, 15, 17, 11, 16, 14, 11, 10, 13,
       12, 12, 10, 18, 12, 14, 10, 13, 14, 14, 10, 15, 14, 11, 18, 15, 15,
       12, 13, 11, 17, 16, 11, 12, 14, 10, 12, 10, 13, 15, 18, 15, 11, 15,
       16, 10, 10, 14, 13, 12, 13, 14, 11, 14, 17, 16, 17, 12, 18, 11, 12,
       15, 11, 14, 15, 15, 12, 12, 14, 17, 12, 17, 14, 14, 12, 16, 11, 17,
       12, 11, 11, 12, 12, 15, 17, 13, 14, 10, 12, 17, 16, 14, 16, 12, 12,
       16, 13, 17, 16, 14, 11, 18, 12, 16], dtype=int64)

In [71]:
company['rf_pred'] = rf.predict(X)

In [74]:
cols = ['rf_pred','Sales']

In [75]:
company[cols].head()

   rf_pred  Sales
0       17   9.50
1       10  11.22
2       12  10.06
3       14   7.40
4       13   4.15

In [77]:
company["Sales"]

0       9.50
1      11.22
2      10.06
3       7.40
4       4.15
       ...
395    12.57
396     6.14
397     7.41
398     5.94
399     9.71
Name: Sales, Length: 400, dtype: float64

In [80]:
pd.crosstab(company['Sales'],company['rf_pred'])

rf_pred  10  11  12  13  14  15  16  17  18
Sales
0.00      0   0   0   0   0   1   0   0   0
0.16      0   0   0   0   0   0   0   0   1
0.37      0   0   0   0   0   1   0   0   0
0.53      0   0   0   0   0   0   0   1   0
0.91      0   1   0   0   0   0   0   0   0
...      ..  ..  ..  ..  ..  ..  ..  ..  ..
13.91     0   0   0   0   0   0   0   1   0
14.37     0   0   0   0   0   0   0   1   0
14.90     0   1   0   0   0   0   0   0   0
15.63     1   0   0   0   0   0   0   0   0
16.27     0   1   0   0   0   0   0   0   0

[336 rows x 9 columns]

In [81]:
company["rf_pred"]

0      17
1      10
2      12
3      14
4      13
       ..
395    14
396    11
397    18
398    12
399    16
Name: rf_pred, Length: 400, dtype: int64